<?xml version="1.0" encoding="UTF-8"?><Export generator="IRIS" version="26">
  <Document name="isc.rest.ZPM">
    <Module>
      <Name>isc.rest</Name>
      <Version>2.4.15</Version>
      <Author>
        <Organization>InterSystems Corporation</Organization>
        <Person>AppServices</Person>
      </Author>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>isc.json</Name>
          <Version>^3.0.0</Version>
        </ModuleReference>
      </Dependencies>
      <Resources>
        <Resource Name="pkg.isc.rest.lifecycle.CLS" Preload="true" />
        <Resource Name="%pkg.isc.rest.PKG"/>
        <Resource Name="%pkg.isc.rest.openAPI.INC"/>
        <Resource Name="%pkg.isc.rest.general.INC"/>
        <Resource Name="/internal/testing/unit_tests/">
          <Attribute Name="Package">UnitTest.isc.rest</Attribute>
        </Resource>
      </Resources>
      <Mappings>
        <Mapping Name="%pkg.isc.rest.PKG" Source="{$namespaceRoutineDB}"/>
      </Mappings>
      <LifecycleClass>pkg.isc.rest.lifecycle</LifecycleClass>
      <Defaults>
        <ProcessorDefault Class="Default.Include">
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="Default.Class">
          <Attribute Name="FilenameExtension">cls</Attribute>
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="Default.Package">
          <Attribute Name="FilenameExtension">cls</Attribute>
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
        <ProcessorDefault Class="UnitTest">
          <Attribute Name="Format">UDL</Attribute>
        </ProcessorDefault>
      </Defaults>
    </Module>
  </Document>
</Export>